### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Logs folder
logs/
# image files (too large)
*.img
*.vdi
*.iso
# too large for github (i think..)
packages/
